<%= form_with model: [post, Comment.new] do |f| %>
  <div class="row">
    <div class="col-12 ">
      <%= f.text_area :body, class: "form-control",
      required: true, placeholder: 'Add a comment...' %>
    </div>
    <div class="col d-flex flex-row-reverse">
      <%= f.submit nil, class: "btn btn-success mt-2" %>
    </div>
  </div>
<% end %>
