<%= form_with model: Comment.new do |f| %>
  <%= f.hidden_field "post_id", value: post.id %>
  <div class="row">
    <div class="col-12 ">
      <%= f.text_area :body, class: "form-control",
      required: true, placeholder: 'Add a comment...' %>
    </div>
    <div class="col d-flex flex-row-reverse">
      <%= f.submit nil, class: "btn btn-success mt-2" %>
    </div>
  </div>
<% end %>
