<% sender = notification.notificable.sender %>

<div class="card hstack gap-2 p-2">
  <div>
    <%= gravatar_image_tag(sender, class:"rounded-2", size: 50) %>
  </div>

  <div>
    <div>
      <%= link_to read_notification_path(notification),
      class: "stretched-link text-reset text-decoration-none" do %>
        <strong> <%= sender.username %> </strong>
        has send you a FriendRequest.
      <% end %>
    </div>

    <div class="text-muted">
      <%= time_ago_in_words notification.created_at %> ago.
    </div>
  </div>

  <% if notification.unread? %>
    <div>
      <span class="badge text-bg-success">New</span>
    </div>
  <% end %>
</div>
