<div class="col-12 col-lg-6 col-xl-4 p-2">
  <div class="card p-3">
    <div class="d-flex flex-row align-items-center">
      <div class="pe-3">
        <%= image_tag "", size: "40x40" %>
      </div>
      <div class="">
        <%= link_to user, user_path(user), class: "text-reset text-decoration-none" %>
      </div>
    </div>
  </div>
</div>
