<% flash.each do |type, message| %>
  <% if %w[success notice].include? type %>
    <% icon =  "bi-check-circle-fill" %>
    <% klass =  "success" %>
  <% elsif %w[danger alert].include? type %>
    <% icon =  "bi-exclamation-triangle-fill" %>
    <% klass =  "danger" %>
  <% end %>

  <div class="alert alert-<%= klass %> my-4" role="alert">
    <i class="bi <%= icon %> me-2"></i>
    <%= message %>
  </div>
<% end %>
