<%= form_with(model: post) do |f| %>
  <div>
    <%= f.text_area :body, class: "form-control", required: true %>
  </div>
  <div>
    <%= f.submit nil, class: "btn btn-primary mt-2" %>
  </div>
<% end %>
